*, *::after, *::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.preloader {
	width: 100%;
	height: 100vh;
	background-color: whitesmoke;
	display: flex;
	justify-content: center;
	align-items: center;
}

.preloader__visual {
	position: relative;
}

.preloader__dot {
	display: inline-block;
	width: 10px;
	height: 6px;
	background-color: black;
	border-radius: 50%;
	position: absolute;
	box-shadow: 0 2px 6px grey;
}

.preloader__dot:nth-child(1) {
	margin-left: -30px;
	animation: jump 800ms 0s infinite;
}

.preloader__dot:nth-child(2) {
	margin-left: -10px;
	animation: jump 800ms 100ms infinite;
}

.preloader__dot:nth-child(3) {
	margin-left: 10px;
	animation: jump 800ms 200ms infinite;
}

.preloader__dot:nth-child(4) {
	margin-left: 30px;
	animation: jump 800ms 300ms infinite;
}

@keyframes jump {
	from {
		height: 6px;
		transform: translateY(0);
		box-shadow: 0 2px 6px grey;
	}
	50% {
		height: 10px;
		transform: translateY(-20px);
		box-shadow: 0 0 0 grey;
	}
	to {
		height: 6px;
		box-shadow: 0 2px 6px grey;
		transform: translateY(0);
	}
}
